<!DOCTYPE html>
html
  head
    title histograph
    meta(name='pinterest', content='nopin', description="contents subject to copyright")
    
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/perfect-scrollbar.min.css', rel='stylesheet')
    link(href='/css/annotator.css', rel='stylesheet')
    link(href='/css/annotorious.css', rel='stylesheet')
    link(href='/css/codemirror.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    
    

    script(src='/socket.io/socket.io.js')
    script(src='//use.typekit.net/fwe7tir.js')

    script.
      try{Typekit.load();}catch(e){}

    style.
      /*
        Patch file: above the fold;
      */
      html{
        height: 100%;
        margin: 0;
        padding: 0
      }


      body{
        font-size: 13px;
        line-height: 24px;
        color: #1d1d1d;
        height: 100%;
        overflow: hidden;
        background-color: #e9e9e9;
        margin: 0;
        padding: 0
      }

      body.login-page{
        background: #f0f0f0; 
      }

      h1,h2,h3,h4{
        font-weight:normal;
        font-size: inherit;
        line-height: inherit;
      }

      header{
        height: 50px;
        position: fixed;
        left:0px;
        right:0px;
        top: 0px;
        background: #383838;
        z-index: 15;
        line-height: 50px;
        font-size:13px;
        padding: 0 50px;
      }

      header ul{
        display: inline-block;
        list-style-type: none;
      }




      header img {
        display: inline-block;
        height: 25px;
        padding: 0px 10px 0 0;
      }

      blockquote{
        padding: 10px 15px;
        font-size: 12px;
        line-height: 18px;
        font-style: italic;
        border: 0px solid transparent;
        background: #eee;
      }

      a{
        color: #FF5742;
      }
      a:focus, a:hover{
        color: #151515;
        text-decoration: none;
      }

      .navbar-header a{
        color: #f0f0f0;
        font-size: 21px;
        -webkit-transition: color .3s ease-out; /* Changed here */ 
         -moz-transition: color .3s ease-out;
           -o-transition: color .3s ease-out;
              transition: color .3s ease-out;
      }

      .navbar-header a:hover{
        color: white;
      }

      #login{
        margin: 100px auto;
        width: 300px;
        text-align: center;
      }

      #login .btn{
        font-size: 12px;
        border: 1px solid #3B3B3B;
      }
      #login h5{
        margin-bottom: 86px;
        color: #151515;
        font-size:24px;
      }

      #login p {
        color: #a9a2a2;
        
      }

      #logo{
        font-size: 28px;
        line-height: 56px;
        position: absolute;
        bottom: 10px;
        /* z-index: 1000000; */
        left: 50%;
        width: 160px;
        margin-left: -80px;
        text-align: center;
      }

      /*
        Flickr API experiment
      */
      #flickr{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff 
      }

      .DEP-halftone-overlay{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=) repeat;
      }
      #logo img{
        max-width: 80px;
      }

      #header-logo{
        position : absolute;
      }
      #header-logo img{
        max-width:50px
      }

      .loader{
        position :absolute;
        z-index: 100;
        left:50%;
        top:50%;
        margin-left:-50px;
        margin-top: -50px;
        width: 100px;
        height: 100px;
      }

      .sk-double-bounce {
        width: 40px;
        height: 40px;
        position: relative;
        margin: 40px auto;
      }

      .sk-double-bounce .sk-child {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
                animation: sk-doubleBounce 2s infinite ease-in-out;
      }
      
      .sk-double-bounce .sk-double-bounce2 {
        -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
      }

      @-webkit-keyframes sk-doubleBounce {
        0%, 100% {
          -webkit-transform: scale(0);
                  transform: scale(0); }
        50% {
          -webkit-transform: scale(1);
                  transform: scale(1); }
      }

      @keyframes sk-doubleBounce {
        0%, 100% {
          -webkit-transform: scale(0);
                  transform: scale(0); }
        50% {
          -webkit-transform: scale(1);
                  transform: scale(1); } 
      }

      /*
        Patch
      */
      header{
        height: 70px;
        line-height: 70px;
        background: #f0f0f0;
        padding: 0 50px 0 70px;
      }

      .navbar-header a {
          color: black;
          font-size: 17px;
      }

      .view {
        top: 70px;
        background: #fff;
      }

      a.with-number{
        cursor:pointer;
      }

      header ul.menu ul.dropdown-menu li a{
        line-height: 20px;
            line-height: 2em;
          padding: 5px 0;
      }

      header ul.menu li a{
        line-height: 70px;
        color: #8A8A8A;
      }

      header ul.menu li.active a{
        color: #FF5742;
      }

      header ul.menu li a:hover{
        color: black
      }

      #search-field {
          padding-top: 23px;
      }
      #search-field input{
        background: transparent;
        font-size: 13px;
        color: black;
        width: 110px;

      }

      #search-field .dropdown-menu li a{
        padding: 0;
      }

      #milkyway {
        position: fixed;
        top: 110px;
        left: 0;
        right: 0;
        bottom: 50px;
      }

      #milkyway.explore.persons{
        left:0;
      }

      #milkyway.graph{
        left:0;
      }

      .explore #see-also {
          width: auto;
          margin-left: 0;
          left: 35px;
      }
      header ul.dropdown-menu li .notification a {
          display: inline;
          line-height: inherit;
          padding: 0;
      }
      #see-also{
        right: 0;
        top: 40px;
      }

      #perspective-menu{
        

        background: white;
        height: auto;
        border-bottom: 1px solid #d8d8d8;
      }

      #perspective-menu ul{
        border-bottom: none;
      }
      /*
        View specific perspective menu
      */






      .search #perspective-menu > ul{
        padding-left: 70px;
      }

      .resource #perspective-menu > ul{
        padding-left: 70px
      }

      .explore #perspective-menu > ul{
        padding-left: 70px;
      }


      .explore #see-also{
        top: 40px;
      }
      .search #see-also {
        left: 190px;
        top: 40px;
      }
      .user #see-also,.neighbors #see-also{
        left:10px;
      }


      #milkyway.search  {
        left: 540px
      }


      #pop{
        z-index: 1052;
       }
      /*
        Modals
      */
      .modal.in .modal-dialog{
        pointer-events: none;
      }
      .modal-content{
        pointer-events:auto;
      }
      .modal.inspect-metadata .modal-dialog{
        width: 400px;
        height: 400px;
      }
      .modal.inspect-metadata .modal-dialog .modal-content{
        bottom: auto;
        height: auto;
      }
      .modal.inspect .modal-body.with-sidebar{
        padding: 0;
      }

      .modal.inspect .modal-body.with-sidebar .item{
        padding:0;
      }

      .modal.inspect .modal-body.with-sidebar .item .type, .modal.inspect .modal-body.with-sidebar .item h3{
        margin:0;
      }
      .modal.inspect .modal-body.with-sidebar .item .meta{
        margin: 20px 0;
      }
      .modal.inspect .modal-body.with-sidebar .item img{
        min-width: auto;
        max-height: none;
      }
      .modal.inspect .modal-body.with-sidebar .item blockquote{
          padding: 20px 0;
      }
      .modal.inspect .modal-body.with-sidebar .item .doi{
          padding: 10px 20px;
      }

      .flatten > p{
        display: inline
      }
      /*
        Playlist
      */
      #playlist{
        width:230px;
        -webkit-transform: translateX(-230px);
          -ms-transform: translateX(-230px);
          transform: translateX(-230px);
      }
      #playlist-close{
        z-index: 100;
      }
      #playlist-actions {
        width: 100%;
      }
      #playlist-actions h5{
          padding: 0 20px 0px 0;
          border-bottom: 1px solid #383838;
          color: #a9a9a9;
          height: 70px;
          line-height: 70px;
          margin: 0 20px 0 20px;
      }
      #playlist-actions .contents{
        color:#b0b0b0;
        margin: 20px;
          border-bottom: 1px solid #383838;
          padding-bottom: 20px;

      }
      #playlist-shadow.neighbors{
        opacity: 0
      }
      #playlist-queue{
        bottom:0;
      }
      .playlist-item{
        width: 210px
      }
      #playlist-queue{
        top: 240px;
      }
      /*

      */
      #sigma-snippets .btn-line-white .fa{
            font-size: 13px;
          line-height: 15px;

      }



      #sigma-snippets .content .links{
        margin-left:20px;
        text-align: left
      }

      #sigma-snippets .content .links a:hover{
        color: #fff;
      }

      .entity #see-also{
        margin-left: auto;
        width: auto;
        margin-right: 0px;
        left: 360px;
      }

      .entity #perspective{
        left: 0;
      }

      /*
        Annotator
      */
      .annotator-hl{
        border-bottom: 1px solid rgba(50,50,50,0.5)
      }

      /*
        MEDIA PATCH
      */
      @media screen and (min-width : 768px) {
        .masonry-brick{
          width: 100%;
        }

        .resource #see-also {
          width: 320px
        }
        .resource #perspective {
          right: 320px;
        }
        header ul.menu li a{
          padding: 0 10px;
        }
      }

      @media screen and (min-width: 992px) {
        /**/
        .masonry-brick{
          width: 50%;
        }
        .resource #perspective {
          width: 540px;
        }

        .entity #perspective{
          width: 360px;
        }

        
        .resource #see-also {
          left: 550px;
          margin-left: 0;
          width: auto ;
        }
      }

      @media screen and (min-width: 1200px) {
        header ul.menu li a{
          padding: 0 20px;
        }
        .resource #perspective {
          width: 670px;
        }
        .resource #see-also {
          left: 680px;
          margin-left: 0;
          width: auto ;
      }

        .resource #perspective-menu{
          
        }
        
        .entity .masonry-brick{
          width: 33%;
        }

        .masonry-brick{
          width: 50%;
        }
      }

      @media screen and (min-width: 1440px) {
        .masonry-brick{
          width: 33%;
        }
        .entity .masonry-brick{
          width: 25%;
        }
      }

  //- RK: Don't think "login-page" class is ever needed.
  //-  ng-class="{ 'login-page' : !user.username }"
  body(ng-app='histograph')
    script(type='text/javascript').
      var socket = io(); 

    div(ng-controller='CoreCtrl')
      div(ng-controller='FiltersCtrl')
        //- if user.is_authentified
        div(ng-show="user.is_authentified")
          header(class='{{queueStatus}}') 
            //- a(id='header-logo', href='#/')
            //-   img(src='images/hg_v.png')
            //- a(id='header-logo', href='http://www.cvce.eu')
            //-   img(src='images/cvce.svg')
              
            
            div(class='row', ng-cloak)
              div(class='col-sm-12')
                div.navbar-header
                  a.serif(href='/#/')
                    span #{title}

                ul.menu.nav.navbar-nav.navbar-right
                  li(class='{{currentState.name == "explore.resources"?"active":""}}')
                    a(href='#/?{{qs}}')
                      span#tip1 gallery

                  li(class='{{currentState.name == "explore.persons"?"active":""}}')
                    a(ng-href='#/projection/person/person?{{qs}}')
                      span#tip2 graph

                  li
                    a.with-number(ng-click='toggleQueue()', uib-tooltip='pinboard', tooltip-placement='bottom') my pinboard 
                      div.number.animated.lite {{playlist.length}}

                  li  
                    a(href='#/u/'+user.id) my bookmarks
                      
                  //- li(class='{{currentState.name == "explore.noise"?"active":""}}')
                  //-   a(href='#/noise') activities

                  li#tip-notification(ng-controller='PulseController')
                    span(uib-dropdown, on-toggle="toggle(open)")
                      a.with-number(href='#/', uib-dropdown-toggle)
                        i.fa.fa-flash
                        div.number.animated(ng-if='pulsations > 0') {{pulsations}}
                      ul.uib-dropdown-menu.dropdown-menu
                        
                        li
                          a(href="#", ng-if='syncing') loading...
                          //- a(href="#", ng-if='!syncing') see all {{totalItems}} notifications
                          
                        li(ng-repeat="relatedItem in notifications", ng-include='"templates/partials/action-lite.html"')
                        
                        li
                          a(href="#/noise", ng-if='!syncing', translate='header.activities') 
                 

                  li(class='{{currentState.name == "search.resources" || currentState.name == "search.persons" ?"active":""}}')
                    div
                      form#search-field(ng-submit='setQuery(query)')
                        input(type='text', name='test', ng-model='__query', typeahead-on-select='setQuery($item, $model, $label)', class='form-control', typeahead-editable='false', placeholder='search', typeahead='item for items in suggest($viewValue)', typeahead-wait-ms='100', typeahead-template-url='templates/partials/helpers/suggest.html')
                  //- input(type='text', ng-model='query', class='form-control', placeholder='Search for...', bs-typeahead, bs-options='item for items in suggest($viewValue)', data-container='body',data-delay='{ show: 500, hide: 1000000 }')
                  //- span(class='input-group-btn')
                  //-  a(class='btn btn-default', type='button', ng-href='/#/search/{{query}}') search
          
                  //- li
                  //-   div(dropdown, dropdown-append-to-body='true', is-open='status.isopen')
                  //-     span(dropdown-toggle, ng-disabled='disabled') {{ language }}
                  //-       i(class='fa fa-down')
            
                  //-     ul(class='dropdown-menu', role='menu', )
                  //-       li(ng-repeat='lang in availableLanguages', ng-click='setLanguage(lang)') {{lang}}
                  
                  li#tip-user
                    span(uib-dropdown='')
                      a(uib-dropdown-toggle)
                        img(src=user.picture)
                        span {{user.username}} 
                      ul.uib-dropdown-menu.dropdown-menu
                        li
                          a(style='cursor:pointer', ng-click='startGuidedTour()') start guided tour!
                        li
                          a(href='#/u/'+user.id) favourites
                        li
                          a(href='/logout') logout
                  
                  
                  
                  
                
            //- div(id='history')
            //-   div(history='', trails='trails')
            
        //- if !user.is_authentified
        div(ng-hide="user.is_authentified || isLoading")

            div(id='logo')
              img(src='images/cvce.svg')

            div#flickr
              div(flickr='')
              div.halftone-overlay
              
            div(id='login')
              

              h5 #{title}
              form
                p
                  span(translate='login.welcome')

                p
                  div.checkbox
                    label.sans-serif
                      input(type="checkbox", ng-model="acceptTermsOfService")
                      span(translate='termsofservice.check')
                  

                div(class="", role="group")
                  a(ng-disabled="!acceptTermsOfService", ng-href='/auth/twitter?next={{locationPath}}&jsonparams={{locationJson}}', class='btn btn-block btn-default btn-line expanded')
                    span(translate='button.login.with.twitter') 
                    i(class='fa fa-twitter')
                  a(ng-disabled="!acceptTermsOfService", ng-href='/auth/google?next={{locationPath}}&jsonparams={{locationJson}}', class='btn btn-block  btn-default btn-line expanded')
                    span(translate='button.login.with.google') 
                    i(class='fa fa-google-plus')


            
        //- else
        div(ng-show="user.is_authentified")
          div.loader.animated(ng-class='isLoading?"fadeIn": "fadeOut"')
            div.sk-double-bounce
              div.sk-child.sk-double-bounce1
              div.sk-child.sk-double-bounce2

          div(class='view {{currentCtrl}} {{currentState.name|humanizeState}} {{queueStatus}} viewpoint-{{viewpoint.selected.name}}', infinite-scroll='addMoreItems()', infinite-scroll-collection='relatedItems')
            div(ui-view='')
          
          div#milkyway(sigma, isloading='isLoading', params='params', user='user', graph='graph', freeze='freeze', tips='headers.graph', togglemenu='toggleMenu(e, item, tag)', class='{{currentState.name|humanizeState}} {{queueStatus}} viewpoint-{{viewpoint.selected.name}}', controller='currentCtrl', setmessage='setMessage(message)', redirect='redirect(path)', queue="addToQueue(items)", filter='addFilter(key, value)')
          
          div(id='timeline', timeline, class='{{currentState.name}} {{queueStatus}}', t='timeline', cxt='contextualTimeline', filters="filters")
            
          div(id='pop', popit, user='user', target="target", redirect='redirect(path)', filter='addFilter(key, item)', comment="startCommenting(item, tag, hashtag)", queue="queue(item, inprog)", inspect='inspect(item)')
          
          div(id='crowd',ng-controller='CrowdCtrl', ng-include='"templates/partials/crowd.html"', class='sans-serif {{isVisible? "animated fadeIn":"animated fadeOut"}}')
            div campaign
          //- div(id='popit', popit, target="target", redirect='redirect(path)', comment="startCommenting(item, tag, hashtag)", queue="queue(item, inprog)")
            div(class='action-group')
              a(class=' action', title='visit', data-action='link', tooltip='visit entity page')
                span(class='fa fa-link')
              a(class=' action', title='vote up')
                span(class='fa fa-thumbs-o-down')
              a(class=' action queue', tooltip="add to your bookmarks", data-action='queue')
                span(class='fa fa-bookmark-o')
              a(class=' action', title='comment', data-action='comment')
                span(class='fa fa-comment-o')
                  
          div(id='the-annotator-wrapper')
            div(id='the-annotator')
            
          //- div(id='playlist-resume', ng-class='queueStatus' tooltip-append-to-body='true', tooltip='toggle read queue' ng-click='toggleQueue()')
            span(class="fa fa-angle-up")
          
          div.mouse.tooltip.sigma(id='tooltip-sigma')
            div.tooltip-wrapper
              div.tooltip-inner
          
          div.mouse.tooltip.sigma(id='tooltip-sigma-edge')
            div.tooltip-wrapper
              div.tooltip-inner

          div(id='playlist', ng-class='queueStatus')
            div#playlist-close(ng-click='closeQueue()')
              i.fa.fa-times-circle
            
            div#playlist-queue(perfect-scrollbar, use-both-wheel-axes='false', suppress-scroll-x="true", wheel-propagation="true", refresh-on-change="playlist",)
              div(id='playlist-queue-rail')
                div(class='playlist-item', ng-repeat='item in playlist')
                  div(class='playlist-item-wrapper')
                    div(class='pic', ng-if='item.type == "person"')
                      a(ng-href='/#/e/{{item.id}}', tooltip-append-to-body='true', tooltip='visit person page')
                        img(ng-src='{{item.props.thumbnail}}', ng-if='item.props.thumbnail')
                    div(class='pic', ng-if='item.type == "location" || item.type == "place"')
                      a(ng-href='/#/e/{{item.id}}', tooltip-append-to-body='true', tooltip='visit location page')
                        
                    div(class='pic', ng-if='item.type == "resource"')
                      a(ng-href='/#/r/{{item.id}}', tooltip-append-to-body='true', tooltip='visit resource page')
                        img(ng-if='item.props.mimetype == "image" && item.props.url', ng-src='media/{{item.props.url}}')
                    h5(data-id='{{item.id}}', tooltip-append-to-body='true', tooltip='{{item.props | title : language }}') {{item.props | title : language : 24 }}
                    a(class='action', ng-click='removeFromQueue(item)', tooltip-append-to-body='true', tooltip='remove from this set')
                      i(class='fa fa-times-circle')
                  
            div(id='playlist-actions', class='btn-group')
              h5(translate="playlist.title")
              div.contents
                p(translate="playlist.description")
                p(ng-if='!playlist.length', translate='playlist.noitems')

                a(ng-disabled='playlist.length < 2' ng-href='/#/neighbors/{{playlist | map:"id"}}', tooltip-append-to-body='true', tooltip='explore connections between your pinned items (min. 2 items)', class='btn btn-block btn-default btn-line-white') explore connections 
                  i(class='fa fa-diamond')
              //- a(ng-href='/#/neighbors/{{playlist | map:"id"}}', tooltip-append-to-body='true', tooltip='explore neighborhood of your readlist', class='btn btn-primary')
              //-   i(class='fa fa-rocket')
              //- a(ng-href='/#/neighbors/{{playlist | map:"id"}}', tooltip-append-to-body='true', tooltip='save your readlist', class='btn btn-primary')
              //-   i(class='fa fa-save')
          
          div#playlist-shadow(class='{{queueStatus}} {{currentState.name|humanizeState}} ', ng-click='toggleQueue()')
          div#fullsize(fullsize)

          div(ng-controller='GuidedTourCtrl')
            tour#guided-tour(step="currentStep")
              //- explore.resources state
              virtual-step(tourtip="guided-tour.welcome", tourtip-element=".view", tourtip-placement="center-top", tourtip-step='0')

              virtual-step(tourtip="guided-tour.step.view.gallery", tourtip-element="#tip1", tourtip-placement="bottom", tourtip-step='1')
              virtual-step(tourtip="guided-tour.step.filters.type" tourtip-element=".grammar-choice", tourtip-placement="bottom", tourtip-step='2')
              virtual-step(tourtip="guided-tour.step.filters.related-to" tourtip-element=".grammar-choice.related-to", tourtip-placement="bottom", tourtip-step='3')
              
              virtual-step(tourtip="guided-tour.step.filters.timeline" tourtip-element="#timeline", tourtip-offset-horizontal="200", tourtip-placement="top", tourtip-step='4')

              virtual-step(tourtip="guided-tour.step.view.gallery.resource" tourtip-element=".related  h4 a", tourtip-offset-vertical="50", tourtip-placement="bottom", tourtip-step='5')

              virtual-step(tourtip="this is a person" tourtip-element=".tag.person", tourtip-placement="bottom", tourtip-step='6')
              
              //- resource view steps
              virtual-step(tourtip="guided-tour.step.view.resource" tourtip-element=".resource.item", tourtip-offset-horizontal="0", tourtip-placement="center-top", tourtip-step='7')
              
              virtual-step(tourtip="guided-tour.step.view.resource.seealso" tourtip-element="#see-also", tourtip-offset-horizontal="0", tourtip-placement="center-top", tourtip-step='8')
              
              virtual-step(tourtip="guided-tour.step.view.resource.seealso.filters" tourtip-element=".grammar-choice.related-to", tourtip-offset-horizontal="0", tourtip-placement="bottom", tourtip-step='9')
              
              virtual-step(tourtip="guided-tour.step.view.resource.add" tourtip-element=".resource.item .btn-contribute", tourtip-offset-horizontal="0", tourtip-placement="top", tourtip-step='10')
              
              virtual-step(tourtip="guided-tour.step.view.resource.click.entity" tourtip-element="#see-also", tourtip-placement="center-top", tourtip-step='11')

              virtual-step(tourtip="guided-tour.step.view.resource.annotate" tourtip-element=".resource.item blockquote", tourtip-offset-horizontal="0", tourtip-placement="top", tourtip-step='15')
              virtual-step(tourtip="guided-tour.step.view.resource.favourites" tourtip-element=".resource.item .actions", tourtip-offset-horizontal="0", tourtip-placement="bottom", tourtip-step='14')
              virtual-step(tourtip="guided-tour.step.view.resource.pinboard" tourtip-element=".resource.item .actions", tourtip-offset-horizontal="0", tourtip-placement="bottom", tourtip-step='16')

              virtual-step(tourtip="guided-tour.step.view.resource.notifications", tourtip-element="#tip-notification", tourtip-offset-horizontal="0", tourtip-placement="bottom", tourtip-step='17')

              //- milkyway
              virtual-step(tourtip="guided-tour.step.view.graph" tourtip-element="#milkyway", tourtip-offset-horizontal="0", tourtip-placement="center-top", tourtip-step='12')

              //- guided tour, hidden
              virtual-step(tourtip="guided-tour.skip" tourtip-element="#tip-user", tourtip-offset-horizontal="0", tourtip-placement="bottom", tourtip-step='13')

              

              


      div(id="messenger", class="sans-serif {{messaging? 'active': ''}}")
        div.inner
          span(translate='{{message}}')
      
      
        
      each val in scripts
        script(src=val)
      script.
        var types = !{JSON.stringify(types)};
        var analytics = !{JSON.stringify(analytics)};

        /*
          Build config according to express settings
        */
        angular.module('histograph')
          .constant("SETTINGS", {
            types: types,
            analytics: analytics,
          })
        .constant('GRAMMAR', {
          AS_TYPES: [
            {
              name: 'of any type',
            }
          ].concat(types.resources.map(function (type) {
            return {
              name: type, // todo: add translations
              filter: 'type=' + type
            }
          })),
          IN_TYPES: [
            {
              name: 'in any resource type',
            },
          ].concat(types.resources.map(function (type) {
            return {
              name: 'in ' + type, // todo: add translations / pluralize
              filter: 'type=' + type    
            }
          }))
        });

        console.log('--- HISTOGRAPH ---')

    
    